In [1]:
import os
import numpy as np
import pandas as pd
from time import time

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
matplotlib.rcParams['mathtext.fontset'] = 'cm'
matplotlib.rcParams['font.family'] = 'STIXGeneral'
matplotlib.rcParams["font.size"] = 26

data_dir = "/home/stavros/DATA/AirbnbReviews"
#data_dir = "D:/"

In [3]:
area = "nyc"
area_dir = os.path.join(data_dir, area)

reviews = pd.read_csv(os.path.join(area_dir, "reviews.csv.gz"))
print(reviews.shape)

(1166689, 6)

NameError: name 'clearn_reviews' is not defined

In [4]:
clean_reviews = reviews[pd.notnull(reviews.comments)]
print(clean_reviews.shape)

(1166096, 6)

In [16]:
import langdetect

ind = np.random.randint(0, clean_reviews.shape[0])
print(clean_reviews.comments[ind])
print("Language:", detect(clean_reviews.comments[ind]))

Wonderful space in a great neighborhood.  Would highly recommend this Airbnb.
Language: en

In [19]:
start_time = time()
comment_language = []
for comment in clean_reviews.comments[:1000]:
    try:
        comment_language.append(detect(comment))
    except:
        comment_language.append("<unk>")
        print(comment)
print(time() - start_time)

.
4.476324558258057

In [24]:
clean_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3831,20509269,2014-09-30,20417598,Courtney,"lisa is a wonderful, kind and thoughtful host...."
1,3831,22232975,2014-11-02,6050386,Monica,The best thing about this place is the locatio...
2,3831,22550887,2014-11-09,15051380,Lynette,LisaRoxanne was friendly and helpful. The room...
3,3831,22984049,2014-11-19,7279245,Linnea,LisaRoxanne is very nice and communicative. Th...
4,3831,23604706,2014-12-06,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...
...,...,...,...,...,...,...
1166684,38515988,527757235,2019-09-11,288981698,Sylvia,SUPER CLEAN AND AMAZING VIBE!! I enjoyed my st...
1166685,38523034,527718324,2019-09-11,84169737,Austin,The host canceled this reservation 44 days bef...
1166686,38536193,528199239,2019-09-12,5176977,Dominique,The host canceled this reservation 21 days bef...
1166687,38541362,527806374,2019-09-11,66094772,Janice,The host canceled this reservation 10 days bef...
1166688,38553155,528025335,2019-09-12,294222140,Ali,The host canceled this reservation 6 days befo...

In [26]:
clean_reviews.iloc[4]

listing_id                                                    3831
id                                                        23604706
date                                                    2014-12-06
reviewer_id                                               16310850
reviewer_name                                             Benjamin
comments         Lisa was a very pleasant and nice host that ac...
Name: 4, dtype: object

In [27]:
len(clean_reviews)

1166096

In [50]:
test_data = pd.DataFrame(index=range(10), columns=list(clean_reviews.columns) + ["new_col"])
test_data

  listing_id   id date reviewer_id reviewer_name comments new_col
0        NaN  NaN  NaN         NaN           NaN      NaN     NaN
1        NaN  NaN  NaN         NaN           NaN      NaN     NaN
2        NaN  NaN  NaN         NaN           NaN      NaN     NaN
3        NaN  NaN  NaN         NaN           NaN      NaN     NaN
4        NaN  NaN  NaN         NaN           NaN      NaN     NaN
5        NaN  NaN  NaN         NaN           NaN      NaN     NaN
6        NaN  NaN  NaN         NaN           NaN      NaN     NaN
7        NaN  NaN  NaN         NaN           NaN      NaN     NaN
8        NaN  NaN  NaN         NaN           NaN      NaN     NaN
9        NaN  NaN  NaN         NaN           NaN      NaN     NaN

In [51]:
test_data.iloc[0] = clean_reviews.iloc[4]
test_data

,listing_id,id,date,reviewer_id,reviewer_name,comments,new_col
0,3831,23604706,2014-12-06,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
test_data.iloc[0]["new_col"] = "test"
test_data

,listing_id,id,date,reviewer_id,reviewer_name,comments,new_col
0,3831,23604706,2014-12-06,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...,test
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN