In [1]:
import os
import numpy as np
import pandas as pd
from time import time

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
matplotlib.rcParams['mathtext.fontset'] = 'cm'
matplotlib.rcParams['font.family'] = 'STIXGeneral'
matplotlib.rcParams["font.size"] = 26

data_dir = "/home/stavros/DATA/AirbnbReviews"
#data_dir = "D:/"

In [3]:
area = "nyc"
area_dir = os.path.join(data_dir, area)

reviews = pd.read_csv(os.path.join(area_dir, "reviews.csv.gz"))
print(reviews.shape)

(1166689, 6)

NameError: name 'clearn_reviews' is not defined

In [4]:
clean_reviews = reviews[pd.notnull(reviews.comments)]
print(clean_reviews.shape)

(1166096, 6)

In [16]:
import langdetect

ind = np.random.randint(0, clean_reviews.shape[0])
print(clean_reviews.comments[ind])
print("Language:", detect(clean_reviews.comments[ind]))

Wonderful space in a great neighborhood.  Would highly recommend this Airbnb.
Language: en

In [19]:
start_time = time()
comment_language = []
for comment in clean_reviews.comments[:1000]:
    try:
        comment_language.append(detect(comment))
    except:
        comment_language.append("<unk>")
        print(comment)
print(time() - start_time)

.
4.476324558258057

Load files generated by `detect_language.py` to make sure they are correct

In [55]:
area = "nyc"
area_dir = os.path.join(data_dir, area)

reviews = pd.read_csv(os.path.join(area_dir, "nyc_reviews_withlang_0to1000.csv"))
print(reviews.shape)

(1000, 7)

In [61]:
pd.value_counts(reviews.comments_language)

en       850
fr        47
es        44
de        21
it        11
ja         9
pt         5
ko         4
no         2
zh-cn      2
af         1
nl         1
bg         1
id         1
<unk>      1
Name: comments_language, dtype: int64

Bullshit where I try to learn how to create pandas DataFrames and append things to them

In [50]:
test_data = pd.DataFrame(index=range(10), columns=list(clean_reviews.columns) + ["new_col"])
test_data

  listing_id   id date reviewer_id reviewer_name comments new_col
0        NaN  NaN  NaN         NaN           NaN      NaN     NaN
1        NaN  NaN  NaN         NaN           NaN      NaN     NaN
2        NaN  NaN  NaN         NaN           NaN      NaN     NaN
3        NaN  NaN  NaN         NaN           NaN      NaN     NaN
4        NaN  NaN  NaN         NaN           NaN      NaN     NaN
5        NaN  NaN  NaN         NaN           NaN      NaN     NaN
6        NaN  NaN  NaN         NaN           NaN      NaN     NaN
7        NaN  NaN  NaN         NaN           NaN      NaN     NaN
8        NaN  NaN  NaN         NaN           NaN      NaN     NaN
9        NaN  NaN  NaN         NaN           NaN      NaN     NaN

In [51]:
test_data.iloc[0] = clean_reviews.iloc[4]
test_data

,listing_id,id,date,reviewer_id,reviewer_name,comments,new_col
0,3831,23604706,2014-12-06,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
test_data.iloc[0]["new_col"] = "test"
test_data

,listing_id,id,date,reviewer_id,reviewer_name,comments,new_col
0,3831,23604706,2014-12-06,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...,test
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN